* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/black-apple.jpg);
  font-family: 'Dosis', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  position: sticky;
  top: 0;
  height: 20px;
}

.logo h1 {
  padding: 30px;
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 50px;
}

#showcase,
footer {
  min-height: 200px;
  height: 100%;
  color: white;
  text-align: center;
}

#showcase p,
footer {
  margin: 80px;
  font-size: 40px;
}

.hamburger {
  display: none;
}

.links {
  color: rgb(246, 246, 225);
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  #showcase {
    border-bottom: 1px solid #FFFFDE;
  }
}
